<template>
  <q-layout>
    <div slot="header"
         class="toolbar">
      <button @click="closeModal()">
        <i>keyboard_arrow_left</i>back
      </button>
      <q-toolbar-title :padding="1">
        新しいQの作成
      </q-toolbar-title>
    </div>
    <div class="layout-padding"
         style="overflow:scroll;">
      <input v-model="target"
             placeholder="例)みんな,音楽好き,etc...">
      <span>に質問です</span>
      <input v-model="question"
             class="full-width"
             style="padding-top:20px;"
             placeholder="質問内容  例)好きな音楽のジャンルは？">
      <q-tabs :refs="$refs"
              v-model="tab"
              default-tab="list"
              class="text-grey-6"
              style="margin-top:15px">
        <q-tab name="list"
               icon="featured_play_list">
          リストスタイル
        </q-tab>
        <q-tab name="numeral"
               icon="looks_one">
          数値スタイル
        </q-tab>
      </q-tabs>
      <!-- Targets -->
      <div ref="list"
           style="margin-bottom:15px">
        <small class="text-center text-dark padding-">
          ※選択肢を数値で表せる場合は--数値スタイル--にしましょう！ より詳細に分析できます。
        </small>
        <q-select type="list"
                  v-model="fixed"
                  :options="selectOptions"></q-select>
        <q-numeric v-model="choicelimit"
                   :min="1"
                   :max="12"></q-numeric> 個選択
        <p style="padding:0px;margin:0px">
          <small v-show="!isChoiceMaxStChoices"
                 class="text-orange">
            <i>warning</i>選択個数に対して選択肢が少ないです。</small>
        </p>
        <p style="padding:0px;margin:0px">
          <small v-show="!isMultiple"
                 class="text-orange">
            <i>warning</i>最低二つ以上の選択肢を作成してください。</small>
        </p>
        <p style="padding:0px;margin:0px">
          <small v-show="!isLabelsNotEmpty"
                 class="text-orange">
            <i>warning</i>文字が入力されていない選択肢があります。</small>
        </p>
        <p class="group text-center">
          <div class="column small-gutter text-start"
               style="display:flex;padding-top:0px">
            <div class="row"
                 v-for="choice, index in choicesList">
              <div class="shadow-1 text-center"
                   style="width:85%;heigth:100%;min-height:40px;">
                <small>{{index + 1}}.</small>
                <input style="word-break: break-all; margin:0px;font-size:14px;width:85%"
                       v-model="choice.label">
              </div>
              <button class="dark small"
                      style="margin-left:auto;margin-right:5px"
                      @click="deleteChoiceBox(index)">
                ×
              </button>
            </div>
          </div>
          <button class="dark full-width outline"
                  style="padding-left:10px;padding-right:10px"
                  @click="addChoiceBox()">
            <i>add</i>
          </button>

      </div>
      <div ref="numeral"
           style="margin-bottom:15px">
        <div class="layout-padding">
          <p class="group text-center">
            最小値:
            <q-numeric v-model="min"></q-numeric>
          </p>
          <p class="group text-center">
            最大値:
            <q-numeric v-model="max"></q-numeric>
          </p>
          <p v-show="!isMinStMax"
             class="text-orange">
            <i>warning</i>最小値と最大値が正しくありません。</p>
          <p class="group text-center">
            単位:
            <input v-model="unit"
                   placeholder="例)人、万円"></input>
          </p>

        </div>
      </div>
    </div>

    <button slot="footer"
            class="toolbar tertiary full-width"
            :class="{disabled: !isSendable}"
            @click="sendNewQ()">投 稿</button>

  </q-layout>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  props: ['refs', 'modalref'],
  data () {
    return {
      tab: 'list',
      target: '',
      question: '',
      fixed: false,
      selectOptions: [
        {
          label: '最大',
          value: false
        },
        {
          label: '必ず',
          value: true
        }
      ],
      choicelimit: 1,
      choicesList: [
        {
          label: ''
        },
        {
          label: ''
        }
      ],
      min: 1,
      max: 10,
      unit: ''
    }
  },
  mounted () {
    this.clearValues()
  },
  methods: {
    ...mapActions({
      postQ: 'postQ'
    }),
    addChoiceBox () {
      this.choicesList.push({ label: '' })
    },
    deleteChoiceBox (index) {
      this.choicesList.splice(index, 1)
    },
    sendNewQ () {
      if (this.isSendable) {
        if (this.tab === 'list') {
          let q = {
            userid: this.self.id,
            tab: 0,
            target: this.target,
            question: this.question,
            isFixed: this.fixed,
            limit: this.choicelimit,
            answers: this.choicesList.map(function (value, index) {
              value['id'] = index + 1
              value['count'] = 0
              return value
            }),
            datatime: new Date()
          }
          this.postQ({ q: q, m: this })
        }
        else if (this.tab === 'numeral') {
          let q = {
            userid: this.self.id,
            tab: 1,
            target: this.target,
            question: this.question,
            min: this.min,
            max: this.max,
            unit: this.unit,
            datatime: new Date()
          }
          this.postQ({ q: q, m: this })
        }
      }
    },
    clearValues () {
      this.tab = 'list'
      this.target = ''
      this.fixed = false
      this.choicelimit = 1
      this.choicesList = [{ label: '' }, { label: '' }]
      this.min = 1
      this.max = 10
      this.unit = ''
    },
    closeModal () {
      this.clearValues()
      this.refs[this.modalref].close()
    }
  },
  computed: {
    ...mapState({
      self: 'self'
    }),
    // is this.min smaller than this.max
    isMinStMax () {
      return this.min < this.max
    },
    // is choice num smaller than this.choiceslist.length
    isChoiceMaxStChoices () {
      // this.choiceslistの値が
      // 必ず*個選択だったらchoicelimit + １,最大*個選択だったらchoicelimit以上だったらtrue
      if (this.fixed) {
        return this.choicelimit < this.choicesList.length
      }
      else {
        return this.choicelimit <= this.choicesList.length
      }
    },
    isMultiple () {
      return this.choicesList.length >= 2
    },
    isLabelsNotEmpty () {
      let finded = this.choicesList.find(function (value) {
        return value.label === ''
      })
      if (finded) {
        return false
      }
      else {
        return true
      }
    },
    isSendable () {
      if (this.tab === 'list') {
        return this.isChoiceMaxStChoices && this.isMultiple && this.isLabelsNotEmpty
      }
      else if (this.tab === 'numeral') {
        return this.isMinStMax
      }
    }
  }
}
</script>

<style>

</style>
