<template>
  <div>
    <q-layout v-if="isLogedIn">
      <div slot="header"
           class="toolbar">
        <q-toolbar-title>
          ShareQ
        </q-toolbar-title>
        <button @click="logout()">
          Logout
        </button>
      </div>

      <router-view class="layout-view"></router-view>
    </q-layout>
    <q-layout v-if="!isLogedIn">
      <div slot="header"
           class="toolbar light">
        <q-toolbar-title>
          ログインしてください
        </q-toolbar-title>
      </div>
      <div class="column justify-center"
           style="margin-left: auto;margin-right:auto">
        <p class="column group">
          <label>email</label>
          <input v-model="email"
                 type="text">
          <small v-if="EmailValidateErrorVisible"
                 class="text-orange">
            <i>warning</i>メールアドレスの形式が正しくありません。</small>
        </p>
        <p class="column group">
          <label>password</label>
          <input v-model="password"
                 type="password">
          <small v-if="PasswordValidateErrorVisible"
                 class="text-orange">
            <i>warning</i>パスワードの形式が正しくありません。</small>
        </p>
        <button class="primary"
                @click="login()">login</button>
        <button class="secondary"
                @click="signup()">sign up</button>
      </div>
    </q-layout>
  </div>
</template>

<script>

// import { Utils, Platform } from 'quasar'
import Qs from './toolbarcomponents/Qs'
import Timeline from './toolbarcomponents/Timeline'
import User from './toolbarcomponents/User'
import Analysis from './toolbarcomponents/Analysis'
import Friends from './toolbarcomponents/Friends'
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      searchword: '',
      tab: 'qs',
      email: '',
      password: '',
      EmailValidateErrorVisible: false,
      PasswordValidateErrorVisible: false
    }
  },
  mounted () {
  },
  computed: {
    ...mapState({
      self: 'self',
      isLogedIn: 'isLogedIn'
    }),
    validation: function () {
      return {
        email: (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/).test(this.email),
        password: this.password.length >= 8
      }
    },
    isValid: function () {
      var validation = this.validation
      return Object.keys(validation).every(function (key) {
        return validation[key]
      })
    }
  },
  methods: {
    ...mapActions({
      logIn: 'logIn',
      logOut: 'logOut',
      signUp: 'signUp'
    }),
    login () {
      if (this.isValid) {
        this.logIn({ email: this.email, password: this.password })
      }
      else {
        this.EmailValidateErrorVisible = !this.validation.email
        this.PasswordValidateErrorVisible = !this.validation.password
      }
    },
    logout () {
      this.logOut()
    },
    signup () {
      if (this.isValid) {
        this.signUp({ email: this.email, password: this.password })
      }
      else {
        this.EmailValidateErrorVisible = !this.validation.email
        this.PasswordValidateErrorVisible = !this.validation.password
      }
    }
  },
  components: {
    'toolbar-qs': Qs,
    'toolbar-timeline': Timeline,
    'toolbar-user': User,
    'toolbar-analysis': Analysis,
    'toolbar-friends': Friends
  }
}

</script>

<style lang="stylus">
.logo-container
  width 192px
  height 268px
  perspective 800px
  position absolute
  top 50%
  left 50%

.logo
  position absolute
  transform-style preserve-3d

</style>
