<template>
  <!-- root node required -->
  <div class="card bg-white"
       v-touch-pan="panhandler"
       v-touch-swipe="swipehandler"
       style="cursor: move;position: absolute; max-width: 90%; margin:auto"
       :style="{top: tpx, left: lpx, right: rpx, bottom: bpx, 'z-index': 20 - idx}"
       :class="{slipout: slip, goback: back}">
    [{{q.qid}},{{idx}}]
  </div>
</template>

<script>
import { Loading } from 'quasar'
import BarChart from './charts/BarChart'
import DoughnutChart from './charts/DoughnutChart'
import MaterialColors from './scripts/MaterialColorsClass'
import { mapState, mapActions } from 'vuex'

export default {
  props: ['q', 'idx'],
  data () {
    return {
      choicesClass: MaterialColors.getClassBindingBgColorSets(2),
      isdisabled: true,
      // isAnswered: false,
      isdisplayed: [true, false],
      slidenum: 0,
      checkedlist: [],
      t: 0,
      l: 0,
      ft: 0,
      fl: 0,
      fpt: 0,
      fpl: 0,
      direction: '',
      slip: false,
      back: false,
      dx: 0,
      dy: 0,
      nums: [1, 2, 3, 4, 5]
    }
  },
  methods: {
    choice (index) {
      let bgColor5 = MaterialColors.getBgColorItem(index, 5)
      let bgColor2 = MaterialColors.getBgColorItem(index, 2)
      let q = this.q
      if (this.choicesClass[index][bgColor5]) {
        this.choicesClass[index][bgColor5] = false
        this.choicesClass[index][bgColor2] = true
        this.checkedlist = this.checkedlist.filter(function (v) {
          return v !== q.answers[index].id
        })
      }
      else {
        if (this.q.limit > this.checkedlist.length) {
          this.choicesClass[index][bgColor5] = true
          this.choicesClass[index][bgColor2] = false
          this.checkedlist.push(this.q.answers[index].id)
        }
      }

      if (this.q.isFixed) {
        this.isdisabled = !(this.q.limit === this.checkedlist.length)
      }
      else {
        this.isdisabled = (this.checkedlist.length === 0)
      }
    },
    showSpinner () {
      if (!this.isdisabled) {
        this.isdisabled = true
        let options = {
          spinner: 'audio',
          spinnerColor: '#80CBC4',
          spinnerSize: 100,
          message: '送信しています...',
          messageColor: '#80CBC4'
        }
        Loading.show(options)

        setTimeout(() => {
          Loading.hide()
          this.postAnswer({ 'userid': this.self.id, 'answer': { 'id': this.q.id, 'choicelist': this.checkedlist } })
        }, 3000)
      }
    },
    lightUpButton (slidenum) {
      this.isdisplayed = this.isdisplayed.map(function (value, index) {
        return slidenum === index
      })
    },
    setCountLabel (num) {
      if (num >= 1000) {
        num = num / 100
        if (num >= 100) {
          num = Math.floor(num / 10)
        }
        else {
          num = Math.floor(num) / 10
        }
        return num + 'k'
      }
      else {
        return num
      }
    },
    ...mapActions({
      postAnswer: 'postAnswer',
      deleteQByKey: 'deleteQByKey'
    }),
    swipehandler (obj) {
      let vuecom = this
      if (this.l > 100) {
        this.slip = true
        this.l = Math.max(screen.width + 200, this.dx * screen.width / 8)
        console.log(this.l)
        this.postAnswer({ qid: this.q.qid, choice: 'D' })
        setTimeout(function () { vuecom.deleteQByKey(vuecom.idx) }, 500)
      }
      else if (this.l < -100) {
        this.slip = true
        this.l = Math.min(-(screen.width + 200), this.dx * screen.width / 8)
        console.log(this.l)
        this.postAnswer({ qid: this.q.qid, choice: 'B' })
        setTimeout(function () { vuecom.deleteQByKey(vuecom.idx) }, 500)
      }
      else if (this.t > 100) {
        this.slip = true
        this.t = Math.max((screen.height + 100), this.dy * screen.width / 20)
        this.postAnswer({ qid: this.q.qid, choice: 'C' })
        setTimeout(function () { vuecom.deleteQByKey(vuecom.idx) }, 500)
      }
      else if (this.t < -100) {
        this.slip = true
        this.t = Math.min(-(screen.height + 100), this.dy * screen.height / 20)
        this.postAnswer({ qid: this.q.qid, choice: 'A' })
        setTimeout(function () { vuecom.deleteQByKey(vuecom.idx) }, 500)
      }
      else {
        this.back = true
        this.t = 0
        this.l = 0
      }
    },
    panhandler (obj) {
      if (!obj.isFinal) {
        this.dx = obj.delta.x
        this.dy = obj.delta.y
      }

      if (obj.isFirst) {
        this.back = false
        this.fpt = obj.position.top
        this.fpl = obj.position.left
        this.ft = this.t
        this.fl = this.l
        this.direction = obj.direction
      }
      else {
        if (obj.distance.x < obj.distance.y) {
          this.t = (obj.position.top - this.fpt) + this.ft
          this.l = this.fl
        }
        else {
          this.l = (obj.position.left - this.fpl) + this.fl
          this.t = this.ft
        }
      }
    }
  },
  computed: {
    ...mapState({
      self: 'self'
    }),
    isAnswered () {
      if (this.self != null) {
        // selfのanswers配列の中に同じidのものがあるかどうかで回答済みかどうか判別
        return (this.self.answers.some(function (value) {
          return value.id === this.q.id
        }, this))
      }
      else {
        return false
      }
    },
    choicelist () {
      if (this.isAnswered) {
        return this.self.answers.find(function (value) {
          return value.id === this.q.id
        }, this).choicelist
      }
      else {
        return this.checkedlist
      }
    },
    tpx () {
      return (this.t + 10) + 'px'
    },
    lpx () {
      return (this.l + 10) + 'px'
    },
    rpx () {
      return (10 - this.l) + 'px'
    },
    bpx () {
      return (10 - this.t) + 'px'
    },
    isVertical () {
      return this.direction === 'up' || this.direction === 'down'
    }
  },
  components: {
    BarChart,
    DoughnutChart
  }
}
</script>

<style>
div.slipout {
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  /* linear */
  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  /* linear */
}




































/* Qを動かしたけど距離が短かった場合に元に戻るアニメーション */

div.goback {
  -webkit-transition: all 400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition: all 400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition: all 400ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
  /* easeOutCirc */
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
  /* easeOutCirc */
}
</style>
