<template>
  <div class="toolbar">
    <button @click="$refs.drawer.open()">
      <i>face</i>
    </button>
    <q-toolbar-title>
      ShareQ
    </q-toolbar-title>
    <button @click="$refs.drawer.open()">
      <i>note_add</i>
    </button>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>

</style>
