<template>
  <div slot="header"
       class="toolbar">
    <button @click="openDrawer()">
      <i>face</i>
    </button>
    <q-search :model.sync="searchword"
              v-model="searchword"
              v-on:input="onInput"
              class="primary">
    </q-search>
    <button @click="searched()">
      <i>sort</i>
    </button>
  </div>
</template>

<script>
export default {
  props: ['searchword', 'drawerRef'],
  data () {
    return {
    }
  },
  methods: {
    onInput (e) {
      // v-on:input: 値を入力したときにinputイベントを発火させて、親コンポーネントのv-modelを更新する
      this.$emit('input', e)
    },
    openDrawer () {
      console.log(this.$ref[this.drawerRef])
    }
  },
  computed: {

  }
}
</script>

<style>

</style>
