<template>
  <!-- root node required -->
  <div class="bg-grey-5">
    <!-- your content -->
    <!-- if you want automatic padding -->
    <q-card v-for="q,idx in qs"
            :q="q"
            :idx="idx"
            :key="q.qid">
    </q-card>
    <button v-for="q in qs"> test</button>
    <button class="absolute-bottom-right  primary raised circular"
            style="right: 18px; bottom: 18px; z-index: 50"
            @click="$refs[modalref].open()">
      <i>note_add</i>
    </button>
    <q-modal :ref="modalref"
             class="maximized"
             :content-css="{padding: '20px'}">
      <nq-modal-layout :refs="$refs"
                       :modalref="modalref"></nq-modal-layout>
    </q-modal>
  </div>
</template>

<script>
import Qcard from './../Qcard'
import NewQModal from './../modal/NewQModalLayout'
import { mapState, mapActions } from 'vuex'

export default {
  props: ['searchword'],
  data () {
    return {
      modalref: 'newQModal'
    }
  },
  mounted () {
  },
  components: {
    'q-card': Qcard,
    'nq-modal-layout': NewQModal
  },
  computed: {
    ...mapState({
      qs: 'qs',
      self: 'self'
    })
  },
  methods: {
    ...mapActions({
      getQs: 'getQs'
    }),
    modal () {
      console.log(this.$refs[this.modalref])
      return this.$refs[this.modalref]
    }
  }
}

</script>

<style>

</style>
